@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #fff;
    margin: 0;
    padding: 10px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

body h2 {
    margin: 20px 0 8px 30px;
    color: #2b2b2f;
}

header {
    background: #2b2b2f;
    padding: 20px 0;
    color: #fff;
    position: relative; 
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-left: 10px;
    vertical-align: middle;
}

.controle-de-usuario {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
}

.controle-de-usuario a {
    color: #fff;
    font-size: 24px;
    margin-left: 15px;
    text-decoration: none;
}

.titulo-game {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 10; 
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu > li {
    position: relative;
    margin: 0 15px;
}

.menu > li > a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.menu > li > a:hover {
    border-bottom: 2px solid #fff;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px #333;
}

.submenu > li {
    margin: 0;
}

.submenu > li > a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.submenu > li > a:hover {
    background-color: #575757;
}

.menu > li:hover .submenu {
    display: block;
}

#divBusca {
    text-align: center;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    position: relative;
}

#txtBusca {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: calc(100% - 50px);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

#txtBusca:focus {
    width: calc(100% - 50px);
}

#btnBusca {
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnBusca i {
    vertical-align: middle;
}

.add-btn {
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    width: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: none;
}

.add-btn:hover {
    background-color: #333;
    transform: scale(1.2);
}

.add-btn:active {
    transform: scale(1);
}


.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #2b2b2f;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box-column{
    margin-top: 15px;
    width: 320px;
}

.box-header{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    text-align: center;
    width: 55%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
    display: inline-block; 
    padding: 5px 10px;
}

h5 {
    color: white;
}

h5 .num {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.box-header span{
    margin-left: 5px;
    background-color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    color: #1976d2;
}

.box-header i{
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
}

.box {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    height: 142px;
    cursor: pointer;
    margin: 15px 5px;
    transition: all 0.2s;
    font-style: #fff;
}

.box:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
}

.box p{
    margin: 2px 0 15px;
    font-size: 14px;
    font-weight: 400;
}

.tag{
    padding: 5px 8px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
    border-radius: 4px;
}

.box-link { 
    display: block;
    text-decoration: none;
    color: inherit;
} 

.box-link .box { 
    transition: background-color 0.3s ease; 
} 

.box-link .box:hover { 
    background-color: #ccc;
}

#red{
    background-color: #f44336;
}

#green{
    background-color: #4caf50;
}

#yellow{
    background-color: #fbc02d;
}

#blue {
    background-color: #1976d2;
}

#orange {
    background-color: orange;
}

#blueviolet {
    background-color: blueviolet;
}

.box-footer{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #757575;
}

.comment{
    display: flex;
    align-items: center;
}

.box-footer i{
    margin-right: 5px;
}

.date{
    display: flex;
}

#forumSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2b2f;
    border: 2px solid #444;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.header-container h3 {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.botao-criar-topico {
    position: absolute;
    left: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
}

.botao-criar-topico:hover {
    background-color: #333;
    transform: scale(1.2);
}

.botao-criar-topico:active {
    transform: scale(1);
}


.section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
    transition: all 0.2s;
    cursor: pointer;
}

.section:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
    transition: background-color 0.3s ease; 
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    margin-left: 0;
}

.section p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

.moderators {
    font-style: italic;
}

.stats {
    margin-top: 15px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stats div {
    margin-bottom: 5px;
    color: #555;
}

.latest-message {
    font-style: italic;
    color: #ccc;
}


.section-icon {
    vertical-align: middle;
    width: 50%;
    border-radius: 10%;
    float: left; 
    margin-right: 10px; 
}